################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/CSharpDemos/.vs/CSharpDemos/v16
